@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="z-index:2">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content" style="background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
    /* Keep the inherited background full size. */
    background-attachment: fixed;
    background-size: cover;
    /*display: grid;*/
   
    /*align-items: center;*/
    /*justify-content: center;*/
    height: 100vh;">
            @Body
        </article>
    </main>
</div>
