@page "/"

<PageTitle>Chat Bot</PageTitle>
<div class=" ChatBox container-fluid">
  

<div class="card glass  RoundBorders   background-color: rgba(245, 245, 245, 0.5)" style="width: 25rem;  "  >
 @* <img src="..." class="card-img-top" alt="...">*@
    <div class="card-body">
    <h3>Mode Welcome</h3>
      <p class="card-text">Do you want to log in, register or reset password?</p>
 
  <div class="btn-group-vertical justify-content-center align-content-center">
    <button type="button" class="btn btn-primary RoundBorders" style="">Apple</button>
    <button type="button" class="btn btn-primary RoundBorders" style="">Samsung</button>
    <button type="button" class="btn btn-primary RoundBorders" style="">Sony</button>
  </div>

  </div>
  
  
</div>
</div>